@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
    background-color: #1e1042;
    text-align: center;
    font-family: "Saira", sans-serif;
    transition: all 0.1s linear;
    display: flex;
    margin: auto;
}

.App {
    /* width: 1024px;
    height: 768px; */
}

canvas {
    box-shadow: 0 10px 16px 0 rgb(55, 27, 105), 0 6px 20px 0 rgb(55, 27, 105);
    /* filter: drop-shadow(0px 4px 90px #542899); */
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
}

.chat-box {
    background: #180c3c;
    border-radius: 16px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    border: 1px solid #542899;
    color: #fff;
    font-weight: 300;
    height: 150px;
    transition: all 0.5s linear;
}

.chat-box h4 {
    margin: 0;
    margin-bottom: 10px;
}

.chat-box div {
    margin: 0;
}

.player-li {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.player-li span {
    margin-left: 10px;
}
